.button {
  font: inherit;
  border: 1px solid #3d7fe0;
  background: #3d7fe0;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #1e6adb;
  border-color: #1e6adb;
}

.button:focus {
  outline: none;
}
