.pagination {
  list-style: none;
  display: inline-block;
}
.pagination li {
  color: black;
  float: left;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 1.25rem;
  font-weight: bold;
}

.pagination li.active {
  background-color: #4caf50;
  color: white;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
}
