.pagination{
  list-style: none;
  display: inline-block;
}
.pagination li {
  color: black;
  float: left;
  text-decoration: none;
  padding: 8px 16px;
}

.pagination li.active {
  background-color: #4CAF50;
  color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}


